extends /_template.pug

block content
	#feed
	- let i = 0;
		while i < 3
			article
				h1 Empty
				p Lorem ipsum turpis magna sociis nisi quis suspendisse aliquam sem habitant nulla. In in dolor. Ornare quis elit. Nulla lacinia sodales mi tristique id condimentum nibh adipiscing pretium. Arcu adipiscing commodo imperdiet lectus rutrum a. Id felis aliquam vel ante velit aptent imperdiet velit in. Pulvinar morbi accumsan purus volutpat lacus. Dui.
				p Eget fusce et. Mi eget vel libero sit fusce gravida. Dignissim nibh nunc mauris proin in potenti arcu massa penatibus est. Turpis gravida consequat magna mi sed tellus amet gravida fusce et. Mauris nostra quisque vulputate. Felis class ultrices interdum libero. Ultrices duis interdum lacus consectetuer non sit per. Quam.
				p In pellentesque congue arcu massa libero duis dolor sociosqu pede pellentesque ac. Augue velit neque arcu suspendisse mollis tincidunt eget dui blandit. Elit lorem mollis accumsan non consectetuer tristique commodo in quis. Consequat nonummy praesent. Laoreet fusce turpis. Tortor at turpis rutrum leo. Felis in donec ut erat libero quis.
			- i++
