doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title #{pkg.title}

		style
			include /__critical.css

	body
		block nav
			include /nav2.pug
		main
			block content
		
		block scripts
			script(src="/_static/app.js")
			script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-32986968-1')
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-32986968-1');